{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <tr>
            <th>Amount</th>
            <th>Category</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
        <tbody>
            {% for stock in symbols %}
            <tr>
                <td>{{ stock["symbol"] }}</td>
                <td>{{ stock["stocks"] }}</td>
                <td>{{ stock["price"] }}</td>
                <td>{{ stock["date"] }}</td>
                <td>{{ stock["current_timestamp"] }}</td>
                <td>{{ purchase }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}