{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table">
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Date</th>
            <th>Time</th>
            <th>PURCHASED/SOLD</th>
        </tr>
        <tbody>
            {% for stock in symbols %}
            <tr>
                <td>{{ stock["symbol"] }}</td>
                <td>{{ stock["stocks"] }}</td>
                <td>{{ stock["price"] }}</td>
                <td>{{ stock["date"] }}</td>
                <td>{{ stock["current_timestamp"] }}</td>
                <td>{{ purchase }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}